<html>
    <head>
        <title>Doovdé</title>
        
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="../css/metro.css" rel="stylesheet"/>
        <link href="../css/metro-schemes.css" rel="stylesheet"/>
        <link href="../css/metro-responsive.css" rel="stylesheet"/>
        <link href="../css/metro-icons.css" rel="stylesheet"/>
		
        <link rel="icon" type="image/png" href="../images/doovde2.png" />
        <link href="./css/style.css" rel="stylesheet"/>
		<style> body {background-image: url("http://p1.pichost.me/i/56/1797393.png");} </style>
    </head>
    
    <body>
			<div class="app-bar bg-darkGreen">
				<a class="app-bar-element bg-hover-darkEmerald" href="..."><img src="../images/doovde1.png" style= "height:100%"/></a>
				<span class="app-bar-divider"></span>
						<ul class="app-bar-menu">
							<li><a href="" class="bg-hover-darkEmerald">Home</a></li>
							<li>
								<a href="" class="dropdown-toggle bg-hover-darkEmerald">Movies</a>
								<ul class="d-menu" data-role="dropdown">
									<li><a href="">Titles</a></li>
									<li><a href="">Directors</a></li>
									<li><a href="">Genres</a></li>
									<li class="divider"></li>
									<li><a href="" class="dropdown-toggle"><span class="mif-search "></span> Search For...</a>
										<ul class="d-menu" data-role="dropdown">
											<li><a href="">Title</a></li>
											<li><a href="">Director</a></li>
											<li><a href="">Genres</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="" class="bg-hover-darkEmerald">About</a></li>
							<li><a href="" class="bg-hover-darkEmerald">Help</a></li>
						</ul>
						
						<ul class="app-bar-menu place-right">
							<li><a href="" class="dropdown-toggle bg-hover-darkEmerald"><span class="mif-user "></span>  My Account</a>
								<ul class="d-menu" data-role="dropdown">
									<li><a href="">My Basket</a></li>
									<li><a href="">My Orders</a></li>
									<li><a href="login.html">Log Out</a></li>
								</ul>
							</li>
						</ul>
			</div>
        
        <div class="padding20" style="width:95%; margin:0 auto; height:83.8%">
				<div class="grid" style="width:100%">
					<div class="row cells8">
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
					</div>
					
					<div class="row cells8">
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
						<div class="cell"><a href="dvd.html"><img src="http://placehold.it/150.7x215"/></a></div>
					</div>
					
					
				</div>
			 
			 	 
				
			 
        </div>
        
        <div class="footer bg-darkGreen fg-white" style="height:3rem;">
            <div style="width:80%; margin:0 auto;">
                <br/>
                Last Edited on 19/11/2015 | ©2011 mydomain.com All Rights Reserved | Created by Tom Willington 
            </div>
        </div>
        
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../js/metro.js"></script>
    </body>
</html>